.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 10px;
  width: 100%;

  display: flex;
  justify-content: center;

  flex-direction: row;

  margin-top: 2.5rem;
}

.container > div {
  max-width: 363px;
  margin-right: 40px;
}

.dentroContainer {
  margin-right: 25px;
}

@media only screen and (min-width: 280px) and (max-width: 900px) {

  .container {
    flex-direction: column;
  }

  .container > div {
    margin: 0 auto;
  }

  .dentroContainer {
    margin: 0 auto;
  }

  .card {
    width: 400px;
  }
}
