.list {
    width: 100%;
    max-width: 560px;

    color: #343A40;
}

.listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    flex-direction: row;
}

.listHeader > h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
}

nav > button {
    padding: 10px;
    gap: 10px;

    height: 40px;

    background: #E9ECEF;
 
    border: none;
    border-radius: 8px;

    margin: 10px;
    cursor: pointer;
}

nav > button:hover  {
    background: #FD377E;
    color: #fff;
}

.secaoCards > h1 {
    margin-bottom: 35px;
}

@media screen and (min-width: 800px) and (max-width: 920px) {

    .secaoCards > h1 {
        font-size: 23px;
    }   
}


@media screen and (min-width: 280px) and (max-width: 289px) {

    nav > button {
        margin: 5px;
    }
}

@media screen and (min-width: 280px) and (max-width: 900px) {

    .list {
        padding: 0;
        margin: 20px auto;    
    }
}

@media screen and (min-width: 280px) and (max-width: 580px) {

    .listHeader {
        display: block;
        text-align: center;
    }

    .secaoCards > h1 {
        text-align: center;
    } 
}
